* {
	font-family: "Sarasa UI SC";
}

#window-box {
	padding: 20px;
	border: 1px solid white;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
	background-color: white;
}

window {
	background-image: url("dpqkd3_blurred.jpg");
	background-position: center;
	background-size: cover;
}
